.depoimento{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
  align-items: center;
}

.depoimento img{
  border-radius: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.depoimento-conteudo{
  padding-left: 40px;
  justify-items: center;
}


.depoimento-conteudo p {
  max-width: 32ch;
  font-family: "Merriweather", serif;
  font-style: italic;
  font-weight: 900;
  margin-bottom: 32px;
  position: relative;
}

@media (min-width: 1200px) {
  .depoimento img {
    max-height: 520px;
  }
}

@media (max-width: 800px) {
  .depoimento {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento img {
    max-height: 200px;
  }
  .depoimento-conteudo {
    padding: 40px 20px;
    margin: auto;
  }
}